<h1>Rankings</h1>

<div class="chart" style="margin-bottom:10px;">
  <%= high_chart("ranking", @h) %>
</div>

<table class="table table-striped">
  <thead>
    <tr>
      <th>No.</th>
      <th></th>
      <th>Name</th>
      <th>Developer</th>
    </tr>
  </thead>

  <tbody>
    <% @rankings.each_with_index do |rank, i| %>
      <tr>
        <td><p class="text-right"><%= i+1 %></p></td>
        <td><p class="text-right"><%= image_tag rank.app.img_url + "=w30" %></p></td>
        <td><%= link_to rank.app.name, rank.app %></td>
        <td><%= rank.app.developer %></td>
      </tr>
    <% end %>
  </tbody>
</table>

