<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @app.name %>
</p>

<p>
  <strong>Developer:</strong>
  <%= @app.developer %>
</p>

<p>
  <strong>Img url:</strong>
  <%= @app.img_url %>
</p>

<p>
  <strong>Detail url:</strong>
  <%= @app.detail_url %>
</p>

<%= link_to 'Edit', edit_app_path(@app) %> |
<%= link_to 'Back', apps_path %>
